:root {};

/***************************/
/* MAIN STYLES */

body {
  font-style: Helvetica, sans-serif;
  font-size: 16px;
}

/***************************/
/* NAVIGATION STYLES */

/***************************/
/* ASIDE STYLES */

#search-history-column {
  max-width: 350px; 
  background-color:palegreen;
}

.search-and-list {}

li {
  list-style: none;
}

/***************************/
/* SECTION: DETAILED FORECAST STYLES */

.today-weather-info {
  max-width: 800px; 
  background-color: lightpink;      
}

/***************************/
/* SECTION: 5-DAY FORECAST STYLES */

.forecast-weather-info {
  background-color: lightyellow;
}

.future-day {
  background-color: aqua;
}