:root {};

/***************************/
/* GLOBAL STYLES */

body {
  font-style: Helvetica, sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

.icon-bkgd {
  background-color: #fff;
  border-radius: 30px;
  min-width: 80px;
  max-width: 130px;
  margin: 0 auto;
}

img {
  width: 80px;
}

/***************************/
/* SEARCH STYLES */

#search-history-column {
  max-width: 350px; 
  background-color: mediumturquoise;
  border-radius: 20px;
}

input {
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

/***************************/
/* DETAILED FORECAST STYLES */

.today-weather-info {
  max-width: 800px; 
  background-color: lightpink;   
  border-radius: 20px;
  padding: 20px;   
}

#city-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

#today-date {
  text-transform: uppercase;
}

/***************************/
/* 5-DAY FORECAST STYLES */

.future-day {
  border-radius: 20px;
  color: #fff;
}

.forecast-header {
  text-transform: uppercase;
  color: blue;
  font-weight: 700;
}